.id {
    display: inline-block;
    width: 5%;
    text-align: center;
}

.author {
    display: inline-block;
    width: 15%;
    text-align: center;
}

.title {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.time {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.whole {
    min-width: 500px;
}

#write {
    margin-bottom: 10px;
    float: right;
}

.page-link {
    color: gray;
}

ul {
    padding: 30px;
}